<div class="table-title">
  <div class="row">
    <div class="col"><h3>Student Details</h3></div>
  </div>
</div>
<table class="table table-bordered table-hover table-sm table-wrapper">
  <tbody>
    <tr>
      <th>Name</th>
      <td>{{ student.name }}</td>
    </tr>
    <tr>
      <th>Department</th>
      <td>{{ student.department.departmentName }}</td>
    </tr>
    <tr>
      <th>College</th>
      <td>{{ student.college.collegeName }}, {{ student.college.state }}</td>
    </tr>
  </tbody>
</table>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item accordion-heading">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Personal details
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row accordion-personal-details">
          <div class="col">Email</div>
          <div class="col">Date of Birth</div>
          <div class="col">Address</div>
        </div>
        <div class="row">
          <div class="col">{{ student.email }}</div>
          <div class="col">{{ student.dob }}</div>
          <div class="col">{{ student.address }}</div>
        </div>

      </div>
    </div>
  </div>
